/*habitaciones*/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}



.contenido-habitacion{
    text-align: center;
}
.contenido-habitacion h1{
    font-size: 50px;
    font-weight: 400;
    padding: 50px;
    font-style: italic;
}
.contenido-habitacion h1 .titulo2{
    font-style: normal;
    font-weight: 600;
}

.contenido-habitacion p{
    font-size: 20px;
    font-weight: 300;
}

.habitacion-contenedor{
    background-color: #D0B88C;
}
.c-habitacion{
    /* probando */
    width: 100%;
    max-width: 95%; /* Establece el ancho máximo deseado */
    margin: 0 auto;  /* Configura márgenes automáticos en los lados izquierdo y derecho para centrar horizontalmente */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #D0B88C;
}

/* .c-habitacion img{
    max-width: 100%;
    width: 80%;
    height: auto;
} */




/* TARJETAS */

.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-section .card{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0, 0.2);
}
.content-section .card img{
    width: 100%;
    height: auto;
}
.content-section .card h2{
    margin: 15px 0px;
    font-size: 28px;
}
.content-section .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
}

@media (max-width: 1000px){
    .c-habitacion{
        flex-direction: column;
    }
}

@media (max-width: 1000px){
    .contenido-habitacion{
        text-align: center;
    }
    .contenido-habitacion h1{
        font-size: 35px;
        font-weight: 700;
        padding: 50px;
    }
    
}


.container{
    transition: transform 0.4s;
    max-width: 100%;
    height: auto;
}
.container:hover{
    transform: scale(1.1);
}