*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}

/*************** MENU ***************/

.menu-header .menu-bar{
    display: none;
}
/* Esconder todos los iconos del menu en pantalla grande */
.menu-header .header span2{
    display: none;
}
.menu-header .menu-bar .boton .boton-reservar{
    display: block;
}

.menu-header .header{
    background-color: #e6dac2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 10%;
}
.menu-header .imagen{
    background-size: cover;
    background-image: url("img/hotel.jpg");
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center center; /* Centra la imagen de fondo */
    background-attachment: fixed;
    filter: brightness(0.6);
    height: 100vh;
    position: relative;
    z-index: 0;
}

.menu-header .logo img{
    width: 100px;
}

.menu-header .header a{
    color: #5e4230;
    font-size: 18px;
    text-decoration: none;
    margin: 0 20px;
    transition: .4s;
    font-family: 'Roboto', sans-serif;
}
.menu-header .header a:hover{
    color: white;
    
}
.menu-header .bt-menu{
    display: none;
}
.menu .menu-header .header .boton a{
    margin:0
}

/* BOTON DE RESERVAR */
.menu-header .header button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #5e4230;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #322218;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

/* INICIO */
.inicio{
    overflow: hidden;      /* Evita que el contenido desborde horizontalmente */
}

.inicio .inicio-contenedor{
    color: #E6DAC2;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.inicio .inicio-contenedor h1{
    font-size: 65px;
    font-weight: 700;
}
.inicio .inicio-contenedor h2{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}


.inicio .inicio-contenedor .titulo-inicio h1{
    font-size: 60px;
}
.inicio .inicio-contenedor .titulo-inicio h2{
    margin-left: 70px;
    font-size: 40px;
}

/* BOTON */
.inicio .inicio-contenedor .boton a{
    color: white;
    font-weight: 700;
    border: 3px solid #E6DAC2;
    margin-top: 20px;
    width: 40%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.inicio .inicio-contenedor .boton{
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #E6DAC2;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }

   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E6DAC2;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }
   .inicio .inicio-contenedor .boton a:hover{
    color: black;
   }



@media (max-width: 1000px){
    .menu-header .header{
        display: flex;
        width: 70%;
        height: 100vh;
        margin: 0;
        position: fixed;
        flex-direction: column;
        position: absolute;
        right: 0;

        opacity: 0;
        visibility: hidden;
    }
    .header.visible{
        opacity: 1;
        visibility: visible;
    }

    .menu-header .header a{
        display: flex;
        width: 100%;
        float: none;
        border-bottom:1px solid #ffffff;
        padding-bottom: 10px;
    }  
    /* Mostrar iconos al lado del texto */
    .menu-header .header span2{
        display: flex;
        margin-right: 10px;
    }

    .menu .menu-header .bt-menu{
        display: block;
        padding: 20px;
        font-weight: bold;
        font-size: 35px;
    }
    .menu .menu-header .header .bt-menu2{
        display: flex;
        padding: 20px;
        font-weight: bold;
        font-size: 45px;
        right: -22vw;
        top: -13px;
    }

    .bt-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        color: #fff;
        font-size: 24px;
        border: none;
        background-color: transparent;
        padding: 10px; /* Ajusta el relleno según tus necesidades */
        cursor: pointer;
        transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
      }
      
      .bt-menu:hover {
        color: #5e4230; /* Cambia el color de fondo en el hover */
      }


      
    .inicio {
        width: 100vh;
    }
    .inicio .inicio-contenedor .titulo-inicio h2{
        margin: 0;
        font-size: 35px;
    }
    .inicio .inicio-contenedor h2{
        text-align: center;
        font-size: 30px;
    }
    .inicio .inicio-contenedor h1{
        text-align: center;
        font-size: 45px;
    }

    .inicio .inicio-contenedor .boton a{
        color: white;
        font-weight: 700;
        border: 3px solid #E6DAC2;
        margin-top: 20px;
        width: 60%;
        padding-top: 3%;
        padding-bottom: 3%;
        
    }
}



/*************** CONTACTO ***************/
.contacto{
    background-color: #162E44;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor padre */
    overflow: hidden; /* Oculta el contenido que se desborde */
}
.contacto .c-contacto{
    width: 100vw;
    height: auto;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.contacto h1{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.c-contacto .c-info{
    margin: 50px;
    max-width: 100%;
}

.contacto .c-contacto .contactenos{
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 50vw;
    max-width: 370px;
}
.contactenos a{
    font-family: 'Montserra t', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
}
.contactenos a span{
    margin-top: 10px;
    margin-right: 20px;
}
.c-contacto a:hover{
    transition: .5s;
    color: #01B3A7;
}

.c-contacto .c-registrar{
    background-color: black;
    
}
.c-contacto .contactenos .campo{
    width: 100%;
    max-width: 440px;
    display: flex;
}
.c-contacto .contactenos .formulario{
    width: 100%;
    max-width: 280px;
    font-size: 16px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    outline: 0px;
}
.c-contacto .contactenos .boton{
    padding: 5px 15px;
    border: none;
    font-size: 16px;
    border-radius: 0xp 3px 3px 0px;
    background-color: #D6C19B;
    color: #FFF;
    cursor: pointer;
    outline: 0px;
}
@media (max-width: 1000px){
    .contacto .c-contacto .c-info{
        display: none;
    }
}


.contacto2{
    background-color: #11263A;
    height: auto;
    padding: 30px 0px;
}
.contacto2 .c-contacto2{
    display: flex;
    justify-content: space-around;
}
.contacto2 .c-diseñado{
    color: #4D5C6B;
}
.contacto2 .c-contacto2 .c-privacy{
    color: #4D5C6B;
}


.c-diseñado p{
    display: flex;
    margin-left: -25px;
}

.contacto2 .c-diseñado{
    width: 20%;
    margin: 0px 0px 10px;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 500;
}
.contacto2 .redes2 a{
    color: #4D5C6B;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px 0;
    font-weight: 500;
}
.contacto2 .c-contacto2 .c-privacy a{
    text-decoration: none;
    color: #4D5C6B;
    font-size: 16px;
    font-weight: 500;
}
.contacto2 .c-contacto2 a:hover{
    color: rgb(216, 216, 216);
}
