*{
    margin: 0;
    padding: 0;
}

/*************** MENU ***************/
.menu-header .menu-bar{
    display: none;
}
/* Esconder todos los iconos del menu en pantalla grande */
.menu-header .header span2{
    display: none;
}
.menu-header .menu-bar .boton .boton-reservar{
    display: block;
}

.menu-header .header{
    background-color: #e6dac2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    width: 100vw;
}
.menu-header .imagen{
    background-size: cover;
    background-image: url("img/hotel.jpg");
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center center; /* Centra la imagen de fondo */
    background-attachment: fixed;
    filter: brightness(0.6);
    height: 100vh;
    position: relative;
    z-index: 0;
}

.menu-header .logo img{
    width: 100px;
}

.menu-header .header a{
    color: #5e4230;
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    margin: 0 20px;
    transition: .4s;
}
.menu-header .header a:hover{
    color: white;
    
}
.menu-header .bt-menu{
    display: none;
}
.menu .menu-header .header .boton a{
    margin:0
}

/* BOTON DE RESERVAR */
.menu-header .header button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #5e4230;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #322218;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

/* INICIO */
.inicio{
    overflow: hidden;      /* Evita que el contenido desborde horizontalmente */
}

.inicio .inicio-contenedor{
    color: #E6DAC2;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.inicio .inicio-contenedor h2{
    text-align: center;
    font-size: 50px;
}
.inicio .inicio-contenedor h1{
    font-size: 65px;
}

.inicio .inicio-contenedor .titulo-inicio h1{
    font-size: 60px;
}
.inicio .inicio-contenedor .titulo-inicio h2{
    margin-left: 70px;
    font-size: 40px;
}


@media (max-width: 1000px){
    .menu-header .header{
        display: flex;
        width: 70%;
        height: 100vh;
        margin: 0;
        position: fixed;
        flex-direction: column;
        position: absolute;
        right: 0;

        opacity: 0;
        visibility: hidden;
    }
    .header.visible{
        opacity: 1;
        visibility: visible;
    }

    .menu-header .header a{
        display: flex;
        width: 100%;
        float: none;
        border-bottom:1px solid #ffffff;
        padding-bottom: 10px;
    }  
    /* Mostrar iconos al lado del texto */
    .menu-header .header span2{
        display: flex;
        margin-right: 10px;
    }

    .menu .menu-header .bt-menu{
        display: block;
        padding: 20px;
        font-weight: bold;
        font-size: 35px;
    }
    .menu .menu-header .header .bt-menu2{
        display: flex;
        padding: 20px;
        font-weight: bold;
        font-size: 45px;
        right: -22vw;
        top: -13px;
    }

    .bt-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        color: #fff;
        font-size: 24px;
        border: none;
        background-color: transparent;
        padding: 10px; /* Ajusta el relleno según tus necesidades */
        cursor: pointer;
        transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
      }
      
      .bt-menu:hover {
        color: #5e4230; /* Cambia el color de fondo en el hover */
      }


      
      .inicio {
        width: 100vh;
    }
    .inicio .inicio-contenedor .titulo-inicio h2{
        margin: 0;
        font-size: 35px;
    }
    .inicio .inicio-contenedor h2{
        text-align: center;
        font-size: 30px;
    }
    .inicio .inicio-contenedor h1{
        text-align: center;
        font-size: 45px;
    }
}

/*************** UBICACION ***************/
.ubicacion .c-ubicacion{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ubicacion .c-ubicacion .u-titulo{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

  @media (max-width: 1020px){
    .ubicacion .c-ubicacion{
        display: none;
    }
  }


/*************** EVENTOS ***************/
.eventos .evento-titulo{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}
.linea {
    height: 3px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
    margin: 0 500px; /* Margen izquierdo y derecho para que la línea ocupe un poco de un lado y otro poco del otro lado */
  }

.eventos{
    background-color: #d6c19b;
    height: 100vh;
}
.eventos .c-eventos .card h4{
    text-align: center;
    font-size: 30px;
    font-weight: 500;   /* Grosor del texto */
    margin: 20px 0;
}
.eventos .c-eventos .card p{
    padding: 0 1rem;
    font-style: italic;
}
.eventos .c-eventos .card a:hover{
    color: black;
    font-weight: 600;
}
.eventos .c-eventos{
    width: 100vw;
    max-width: 1200px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.eventos .c-eventos .card img{
    width: 330px;
    height: 220px;
}
.eventos .c-eventos .card{
    width: 20em;
    height: 25em;
    border-radius: 8px;
    box-sizing: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.eventos .c-eventos .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px){
    .eventos .c-eventos .card h4{
        font-size: 20px;
    }
    .eventos .c-eventos .card p{
        font-size: 15px;
    }
    .eventos .c-eventos{
        background-color: #D6C19B;
        height: 20%;
    }
}

/*************** CONTACTO ***************/
.contacto{
    background-color: #162E44;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
}
.contacto .c-contacto{
    width: 100vw;
    height: 50vh;
    margin: 50px;
    display: flex;
}

.contacto h1{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.contacto .c-contacto .contactenos{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.contactenos a{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
}
.contactenos a span{
    margin-top: 10px;
    margin-right: 20px;
}
.contacto .c-contacto .redes{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.redes a{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
}
.redes a span{
    margin-top: 10px;
    margin-right: 20px;
}
.c-contacto a:hover{
    transition: .5s;
    color: #01B3A7;
}


.contacto2{
    background-color: #11263A;
    height: 15vh;
}
.contacto2 .redes2{
    text-align: center;
}
.contacto2 .redes2 a{
    color: #4D5C6B;
    font-size: 20px;
    text-decoration: none;
    margin: 8 0 0;
}