/*************** UBICACION ***************/
*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}

.ubicacion{
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.ubicacion .c-ubicacion .u-titulo{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.ubicacion .c-ubicacion .u-parrafo{
    margin-bottom: 50px;
}
.u-parrafo p {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    max-width: 80%; /* Establece un ancho máximo para el párrafo */
    margin: 0 auto; /* Centrar el párrafo horizontalmente */
  }
  .u-parrafo a{
    text-decoration: none;
  }


.c-ubicacion .mapa{
    text-align: center;
    
}
.mapa iframe {
    width: 80%;
}

  @media (max-width: 1020px){
    .ubicacion .c-ubicacion{
        display: none;
    }
  }
